<div>
    <card cardTitle="Add Employee">
      <form>
        <div class="row">
          <div class="col-sm-2">
              <label class="control-label">Name</label>
          </div>
          <div class="col-sm-10">

              <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control w-10 " placeholder="Name">
             
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Reg. No.</label>
                    <input type="text" class="form-control w-10 " placeholder="Name">
                   
             
                </div>
                 
              </div>

              
          
          </div>
        </div>
        <br>
        <div class="row mt-2">
            <div class="col-sm-2">
                <label class="control-label">Website URL : </label>
            </div>
            <div class="col-sm-10">              
                <input type="text" class="form-control w-10 " placeholder="Name">

            </div>
        </div>
        <br>
        <div class="row mt-2">
            <div class="col-sm-2">
                <label class="control-label">Address : </label>
            </div>
            <div class="col-sm-10"> 
                <div class="row"> 
                  <div class="pl-1,pr-1">  
                    <input type="text" class="form-control w-10 " placeholder="Name">
                    <label class="control-label">Street Address</label>  
                  </div>             
                </div>

                <div class="row">   
                    <input type="text" class="form-control w-10 " placeholder="Name">
                    <label class="control-label">Street Address Line 2</label>               
                </div>

                <div class="row">
                  <div class="col-sm-6">
                      <input type="text" class="form-control w-10 " placeholder="Name">
                      <label class="control-label">City</label>      
                  </div>
                  <div class="col-sm-6">
                      <input type="text" class="form-control w-10 " placeholder="Name">
                      <label class="control-label">State</label>      
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control w-10 " placeholder="Name">
                        <label class="control-label">Postal Code</label>      
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control w-10 " placeholder="Name">
                        <label class="control-label">Country</label>      
                    </div>
                  </div>

            </div>
        </div>

        <br>
        <div class="row mt-2">
            <div class="col-sm-2">
                <label class="control-label">Email : </label>
            </div>
            <div class="col-sm-10">              
                <input type="text" class="form-control w-10 " placeholder="Name">

            </div>
        </div>

        <br>
        <div class="row mt-2">
            <div class="col-sm-2">
                <label class="control-label">Phone Number : </label>
            </div>
            <div class="col-sm-10">              
                <input type="text" class="form-control w-10 " placeholder="Name">

            </div>
        </div>

        <br>
        <div class="row mt-2">
            <div class="col-sm-2">
                <label class="control-label">Build Date : </label>
            </div>
            <div class="col-sm-10">              
                <input type="date" class="form-control w-10 " placeholder="Name">

            </div>
        </div>

        <br>
        <div class="row mt-2">
            <div class="col-sm-2">
                <label class="control-label">Wings : </label>
            </div>
            <div class="col-sm-10">     
              <div class="row"> 
                <div class="col-sm-4">        
                  <input type="text" class="form-control w-10 " placeholder="Name">
                  <label class="control-label">Name </label>
                </div>
                <div class="col-sm-2">        
                    <input type="number" class="form-control w-10 " placeholder="Name">
                    <label class="control-label">Floor Number: </label>
                </div>

                <div class="col-sm-2">        
                    <input type="number" class="form-control w-10 " placeholder="Name">
                    <label class="control-label">Flat Start Number: </label>
                </div>

                <div class="col-sm-2">        
                    <input type="number" class="form-control w-10 " placeholder="Name">
                    <label class="control-label">Flat End Number: </label>
                </div>

                <div class="col-sm-2">        
                   <button class="btn btn-primary"> +</button>
                </div>
              </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label class="control-label">Number of Gate: </label>
            </div>
            <div class="col-sm-10">  
              <div>

              </div>            
                <input type="number" class="form-control w-10 " placeholder="Name">

            </div>
        </div>

        <button type="submit">Save</button>
      </form>
   </card>
  </div>
  